{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sarabun:wght@200&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel=rel="icon" 
    type="image/png" href="{% static 'cabinets/favicon/favicon1.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cabinets/css/styles.css' %}">
    <title>ตู้ปันสุข</title>

    
    {% block style %}
        
    {% endblock style %}
        
    
    {% block head %}
        
    {% endblock head %}
        
</head>
<body>
    <div class = 'big-container' id = 'big-container'>
        {% block content %}{% endblock content %}
    </div>
</body>
<script>{% block script %}{% endblock script %}</script>
</html>