{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sarabun:wght@200&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cabinets/css/styles.css' %}">
    <title>ตู้ปันสุข</title>
</head>
<body>

    <div class = 'big-container'>
        {% block content %}{% endblock content %}
    </div>
    
</body>
</html>