{% extends 'cabinets/base.html' %}


{% block content %}

{% if recent_cabinets_list %}

    <ul>
        {% for cabinet in recent_cabinets_list %}
        <div class = 'list-container'>
            <a href="{% url 'cabinets:detail' cabinet.id %}">{{ cabinet.name_text }}</a><br>
            <img src="{{ cabinet.image.url }}" alt="photo of {{ cabinet.name_text }}" class = 'cabinet-image'>
            {{ cabinet.update_set.last.comment_text }} - updated: {{ cabinet.update_set.last.pub_date }}
        </div>
        {% endfor %}
    </ul>

{% else %}

    <p>theres no cabinet in the db.</p>

{% endif %}

{% endblock content %}