{% extends 'cabinets/base.html' %}


{% block content %}

{% if current_loc %}

your coordinate: {{ current_loc.lat }}, {{ current_loc.lng }}

{% endif %}

{% if recent_cabinets_list %}

        {% for cabinet in recent_cabinets_list %}
        <div class = 'list-container'>
            <a href="{% url 'cabinets:detail' cabinet.id %}">{{ cabinet.name_text }}</a><br>
            {{  cabinet.distance.dist }} km away from you. Accuracy: {{  cabinet.distance.accuracy }} km.<br>
            <a href="{{ cabinet.open_map_directions }}">click here for directions</a>
            <img src="{{ cabinet.image.url }}" alt="photo of {{ cabinet.name_text }}" class = 'cabinet-image'>
            {{ cabinet.update_set.last.comment_text }} - updated: {{ cabinet.update_set.last.pub_date }}
        </div>
        {% endfor %}
   
{% else %}

    <p>theres no cabinet in the db.</p>

{% endif %}

{% endblock content %}