html, body{

    font-family: 'Playfair Display', 'Sarabun', serif;
}

.big-container {
    display: grid;
    width: 800px;
    margin: 0 auto;
    background-color: blanchedalmond;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid rgba(94, 93, 93, 0.438) ;
}

.cabinet-image {
    display: block;
    max-width: 30%;
}

.update-image {
    display: block;
    max-width: 30%;
}